img {
    max-height: 100%;
    max-width: 100%;
}
#photoOfTheDay {
    height:400px;
    width:550px;
}
#PODTitle {
    font-weight:bold;
}

#PODDescription{
    height:100px;
}

body{
    background-image : url("https://media.wired.com/photos/5980c922f7c57829f3e31566/2:1/w_2500,c_limit/NASA_Solarflare_HP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color:white;
    text-align:center;
    font-size: 50px;
    margin:10px;
}
h2{
    color:black;
    text-align:center;
    font-size: 50px;
    margin:10px;
}
#asteroidTable{

}
